@media only screen and (min-width: 600px) and (max-width: 767px) {
	#home-image-link img {
		width: 50%;
	}
	.home-image-link-button {
		width: 50%;
	}
}
@media only screen and (max-width: 767px) {
	.home-image-link-button {
		height: 61px;
		font-size: 14px;
		padding-top: 6px;
	}
}
@media only screen and (max-width: 350px) {
	.top-social-links > a > img {
		max-width: 24px;
	}
	.main-logo img {
		max-width: 200px;
	}
}