/* Styles for Top Navigation */
a:link {
	text-decoration: none;
}
.hidden {
	display: none !important;
}
footer {
	margin-top: 50px;
}
.footer-link ul > li {
	float: left;
	padding: 0 15px;
	font-size: 15px;
	border-right: 1px solid white;
}
.footer-link ul > li:last-child {
	border: none;
}
.footer-link ul > li > a {
	color: white;
}

.footer-link .footer-text {
	float: left;
	padding: 15px;
	color: black;
}
.footer-link ul {
	list-style: none;
	padding: 0;
}
.footer-link {
	padding-left: 0;
}
.top-header {
	background-color: #262324;
}
.main-logo {
	padding: 10px 40px;
}
.nav {
	font-size: 16px;
}
.header-channels img {
	float: left;
	padding: 15px 10px;
}
.header-channels {
	padding-left: 85px;
}
.header-social-link {
	background-color: #5F6062;
}
.top-social-links {
	padding: 30px 0;
}
.top-social-links > a {
	padding: 0 8px;
}
.navbar-inverse {
	background-color: #7E8083;
	border-radius: 0;
	border-color: #7E8083;
}
.navbar {
	margin-bottom: 0;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background-color: #7E8083;
	color: #F9A000
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}
.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #7E8083;
}
.main-body {
	background-image: url('../images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
}
section .container {
	background-color: white;
	padding: 0 40px;
}
#owl-slider-aptn {
	margin-top: 45px;
}
#owl-slider-aptn .item > img:first-child {
	float: right;
	height: 450px;
}
#owl-slider-aptn .item > img:nth-child(2) {
	position: relative;
	top: -450px;
}
.owl-theme .owl-controls {
	position: relative;
	top: -50px;
	margin-right: 25px;
	text-align: right;
}
#owl-slider-aptn .item {
	height: 450px;
}
#owl-slider-aptn .slider-content {
	position: relative;
	top: -800px;
}
.slider-content {
	max-width: 340px;
	padding-left: 40px;
	letter-spacing: 2px;
	color: white;
}
.slider-text {
	font-size: 2.3em;
	color: #F9A000;
}
.slider-channel-link img {
	width: 30px;
}
.owl-theme .owl-controls .owl-page.active span {
	background-color: #F9A000;
}
.owl-theme .owl-controls .owl-page span {
	background-color: white;
}
.welcome, .home-single-news, .home-single-pu {
	font-size: 13px;
}
.read-more-button {
	background-image: url('../images/read-more-button.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
}
.read-more-button a {
	color: white;
	padding-right: 10px;
	letter-spacing: 1px;
}
.keyword-button {
	background-image: url('../images/keyword.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 1px 25px;
	margin-right: 10px;
}
.keyword-button a {
	color: white;
	font-size: 12px;
}
.home-single-news-date, .home-single-pu-date {
	color: #005FAC;
	font-weight: bold;
	margin: 15px 0;
}
.home-latest-news .row, .home-programming-updates .row {
	margin-top: 30px;
}
.home-latest-news-header, .home-programming-updates-header {
	font-size: 18px;
	font-weight: bold;
	color: #808183;
	padding-left: 15px;
}
.welcome-header {
	font-size: 40px;
	font-weight: bold;
	color: #808183;
	margin-bottom: 20px;
}
.welcome-channels {
	margin-top: 38px;
}
#home-image-link .container {
	padding: 40px 120px 40px 40px;
}
#home-image-link .row > div {
	margin-top: 10px;
}
.home-image-link-button {
	background-image: url('../images/home-image-link-button.jpg');
	background-repeat: no-repeat;
	height: 91px;
	text-align: center;
	font-size: 18px;
	padding-top: 30px;
	background-size: cover;
	min-width: 240px;
}
.home-image-link-button a {
	color: white;
}
#home-image-link img {
	width: 100%;
	height: 250px;
	min-width: 240px;
}
footer {
	background-color: #5F6062;
}
footer .container {
	padding: 35px;
}
footer ul {
	list-style: none;
	line-height: 1.5em;
	padding-left: 0;
}
.footer-link-header {
	color: #BDBFC1;
}
.footer-link-content img {
	padding: 10px 5px;
}
footer ul > li > a {
	color: white;
}
.bottom-text {
	color: white;
	padding: 0 141px 0px 15px;
	margin-top: 35px;
}
footer .bottom-row {
	margin-top: 20px;
}
.single-news .read-more-button {
	width: 150px;
	text-align: center;
}
.single-news, .single-programming-update {
	margin-top: 30px;
}
.page-title {
	font-size: 40px;
	font-weight: bold;
	color: #808183;
	margin-bottom: 20px;
}
.keyword-row {
	margin-top: 10px;
}
.latest-news-keywords {
	padding: 20px;
}
.latest-news-keywords .keyword-button {
	margin-right: 0;
	margin-left: 5px;
}
.pu-content-img > img {
	height: 150px;
	width: 100%;
}
.pu-content-desc {
	padding-left: 0;
}
.pu-date-icons img {
	height: 20px;
}
.pu-date-icons {
	margin-top: 10px;
}
.pu-channel-icons {
	float: right;
}
.pu-content .read-more-button {
	margin-top: 10px;
	width: 150px;
	text-align: center;
}
.show-title-button {
	background-image: url('../images/show-title-back.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 80px;
	text-align: center;
	padding-top: 25px;
	font-size: 20px;
	margin-bottom: 30px;
}
.show-title-button a {
	color: white;
}
.show-banner img {
	width: 100%;
}
.si-field {
	text-align: right;
	font-weight: bold;
}
.si-field-value {
	padding-left: 0;
}
.section-title {
	font-size: 20px;
	font-weight: bold;
	color: #5F6062;
}
.embed-video {
	margin-top: 25px;
}
.video-date {
	font-size: 12px;
	font-weight: bold;
}
.video-title {
	font-weight: bold;
	font-size: 18px;
	color: #5F6062;
}
.schedule-container-east {
	background-image: url('../images/show-schedule-east-back.png');
	background-repeat: no-repeat;
	height: 78px;
	padding: 0px 0 0 100px;
	color: white;
}
.schedule-container-west {
	background-image: url('../images/show-schedule-west-back.png');
	background-repeat: no-repeat;
	height: 78px;
	padding: 0px 0 0 100px;
	color: white;
}
.schedule-container-north {
	background-image: url('../images/show-schedule-north-back.png');
	background-repeat: no-repeat;
	height: 78px;
	padding: 0px 0 0 100px;
	color: white;
}
.schedule-container-hd {
	background-image: url('../images/show-schedule-hd-back.png');
	background-repeat: no-repeat;
	height: 78px;
	padding: 0px 0 0 100px;
	color: white;
}
.schedule-container-east .time, .schedule-container-west .time, .schedule-container-north .time, .schedule-container-hd .time {
	font-size: 28px;
	padding-top: 15px;
	max-width: 100px;
	margin: 0;
	font-weight: bolder;
}
.schedule-container-east .standard, .schedule-container-west .standard, .schedule-container-north .standard, .schedule-container-hd .standard {
	float: right;
	font-size: 15px;
	margin-top: -4px;
	font-weight: 100;
}
.schedule-container-east .day, .schedule-container-west .day, .schedule-container-north .day, .schedule-container-hd .day {
	margin: 0;
	font-size: 16px;
}
.visit-official-site a {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bolder;
	color: #5F6062
}
.show-info-description > .row {
	margin-bottom: 5px;
}
.embed-video iframe {
	width: 100%;
}
.latest-news-ad-banner img {
	margin-top: 10px;
	max-width: 100%;
	height: auto;
}
.press-pdfs img {
	float: left;
	margin-right: 15px;
}
.press-pdf-name a {
	color: black;
	font-weight: bold;
}
.press-pdf-date {
	color: #005FAC;
}
.press-pdfs {
	margin-top: 30px;
}
.visit-official-site {
	letter-spacing: -1px;
}
.show-cast {
	margin-top: 30px;
}
.nanoGalleryPagination .paginationItem.currentPage {
	background-color: #5F6062;
	width: 20px;
	height: 24px;
	padding: 3px;
	transform: skewX(-15deg);
	text-decoration: none !important;
	color: white;
}
#welcome .rightCol {
	margin-top: 20px;
}
.button-group ul > li {
	list-style: none;
	float: left;
	padding-left: 15px;
}
.button-group ul > li > button{
	background-color: white;
	border: none;
	padding: 3px;
}
.button-group ul > li > button.gallery_button_selected {
	background-color: #F9A000;
	color: white;
}
